@import '../../styles/_variables';

.display5 {
  position: relative;
  width: 100%;
  padding: 105vw * $px 0;

  &__content {
    text-align: left;

    .title {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 70vw * $px;
      line-height: 1.5;
      color: $main-purple;
    }
  }

  .slider-container {
    .slick-dots {
      bottom: 29vw * $px;
      right: 34vw * $px;
      width: auto;

      li {
        width: 6vw * $px;
        height: 6vw * $px;
        margin: 0 9vw * $px;
        border-radius: 50%;
        background-color: $main-dark;
        opacity: 0.5;

        &.slick-active {
          opacity: 1;
        }

        &:last-child {
          margin-right: 0;
        }

        button {
          display: none;
        }
      }
    }
  }

  .slider-item {
    background: url("../../assets/images/slide_bg.png") no-repeat center;
    background-size: 100%;
    padding: 20vw * $px;
    display: flex!important;
    border-radius: 30vw * $px;

    .slide {
      &-image {
        width: 255vw * $px;
        height: 207vw * $px;
        border-radius: 30vw * $px;
        flex-shrink: 0;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &-content {
        padding-left: 35vw * $px;
      }

      &-name {
        font-family: "Open Sans", sans-serif;
        font-weight: 700;
        font-size: 25vw * $px;
        line-height: 1.5;
        color: $main-dark;
      }

      &-text {
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 17vw * $px;
        line-height: 1.5;
        color: $main-dark;
        margin-top: 15vw * $px;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .display5 {
    padding: 50vw * $pxm 0;

    &__content {
  
      .title {
        font-size: 30vw * $pxm;
      }
    }

    .slider-container {
      .slick-track {
        display: flex;
        align-items: stretch;

        .slick-slide { 
          display: flex!important;
          height: inherit!important;
          float: none;

          &  > div {
            display: flex;
            height: inherit!important

            
          }
        }
      }

      .slick-arrow {
        display: block!important;
        top: -32vw * $pxm;
        border-radius: 70vw * $pxm;
        border-width: 1vw * $pxm;
        width: 70vw * $pxm;
        height: 38vw * $pxm;

        &.slick-prev {
          right: 85vw * $pxm;
        }

        &:before {
          width: 20vw * $pxm;
          height: 20vw * $pxm;
          background-size: 14vw * $pxm;
        }
      }

      .slick-dots {
        bottom: 20vw * $pxm;
        right: 29vw * $pxm;
  
        li {
          width: 6vw * $pxm;
          height: 6vw * $pxm;
          margin: 0 9vw * $pxm;
        }
      }
    }

    .slider-item {
      background: url("../../assets/images/slide_bg_mob.png") no-repeat center / cover;
      padding: 20vw * $pxm 20vw * $pxm 56vw * $pxm;
      flex-direction: column;
      height: 100%;
      border-radius: 30vw * $pxm;

      .slide {
        &-image {
          width: 100%;
          height: 207vw * $pxm;
          border-radius: 30vw * $pxm;
        }

        &-content {
          padding-left: 0;
          padding-top: 15vw * $pxm;
        }

        &-name {
          font-size: 14vw * $pxm;
        }

        &-text {
          font-size: 14vw * $pxm;
          margin-top: 15vw * $pxm;
        }
      }
    }
  }
}
