@import '../../styles/_variables';

.display6 {
  position: relative;
  width: 100%;
  padding: 105vw * $px 0;

  .title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 70vw * $px;
    line-height: 1.5;
    color: $main-purple;
    text-align: left;
  }

  .subtitle {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 25vw * $px;
    line-height: 1.5;
    color: $main-dark;
    // margin: 15vw * $px 0;
    text-align: left;
  }

  .text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17vw * $px;
    line-height: 1.5;
    color: $main-dark;
    margin: 15vw * $px 0;
    text-align: left;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    column-gap: 35vw * $px;
    height: 614vw * $px;

    .block-1 {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .block-2 {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      border-radius: 30vw * $px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .block-3 {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  .item {
    display: flex;
    align-items: center;
    padding: 16vw * $px 25vw * $px;
    border-radius: 30vw * $px;
    column-gap: 32vw * $px;
    background-color: #CECECE;
    margin-bottom: 23vw * $px;
    min-height: 119vw * $px;

    &.active {
      background-color: $main-purple;

      .item-icon {
        background-color: #fff;
        transform: rotate(-45deg);

        svg {
          filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(14%) hue-rotate(215deg) brightness(85%) contrast(92%);
        }
      }

      .item-name, .item-text {
        color: #fff;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 47vw * $px;
      height: 47vw * $px;
      background-color: $main-purple;
      border-radius: 50%;
      flex-shrink: 0;
  
      svg {
        width: 27vw * $px;
        height: 27vw * $px;
      }
    }

    &-name {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 17vw * $px;
      line-height: 1.5;
      color: $main-dark;
      text-align: left;
    }

    &-text {
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      font-size: 17vw * $px;
      line-height: 1.5;
      color: $main-dark;
      text-align: left;
      margin-top: 8vw * $px;
    }
  }
}

@media (max-width: $mobile-width) {
  .display6 {
    padding: 50vw * $pxm 0;

    .title {
      font-size: 30vw * $pxm;
    }

    .subtitle {
      font-size: 18vw * $pxm;
    }

    .text {
      font-size: 14vw * $pxm;
      margin-top: 15vw * $pxm;
    }

    &__content {
      display: block;
      height: auto;

      .block-2 {
        height: 305vw * $pxm;
        margin: 40vw * $pxm 0 15vw * $pxm;
      }
    }

    .item {
      padding: 20vw * $pxm 25vw * $pxm;
      border-radius: 30vw * $pxm;
      column-gap: 42vw * $pxm;
      margin-bottom: 15vw * $pxm;
      min-height: 111vw * $pxm;
  
      &-icon {
        width: 37vw * $pxm;
        height: 37vw * $pxm;
    
        svg {
          width: 22vw * $pxm;
          height: 22vw * $pxm;
        }
      }
  
      &-name {
        font-size: 14vw * $pxm;
        line-height: 1.5;
      }
  
      &-text {
        font-size: 14vw * $pxm;
        margin-top: 8vw * $pxm;
      }
    }
  }
}